{{ 'section-featured-refactor.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign products = section.settings.collection.products
-%}

<div class="refactor">
  <div class="refactor__top">
    <h2 class="refactor__title">
      {{section.settings.text}}
    </h2>
  </div>

  <div class="refactor__content">
    {%- for product in products -%}
      {% render 'card-refactor',
        card_product: product,
      %}
    {%- endfor -%}
   
  </div>

</div>

{% schema %}
  {
    "name": "Featured refactor",
    "class": "featured-refactor",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "default": "Featured Products",
        "label": "Text"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {"name": "Default custom section"}
    ]
  }
{% endschema %}
